<!DOCTYPE html>
<html>
<head>
  <title>Online Application System</title>
  <%= stylesheet_link_tag   :all, 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag :defaults, 'jquery-ui','application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render '/layouts/bootstrap' %>
  <%= stylesheet_link_tag 'style' %>
  <!-- <title>ModalForm</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery-ui' %>
  <%= csrf_meta_tag %> -->

  <!--link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
  <script src='lib/jquery.min.js'></script>
  <script src='lib/momentjs.min.js'></script>
  <script src='fullcalendar/fullcalendar.js'></script-->
</head>
<body>
<!--NAVBAR-->

  <%= render 'layouts/navbar' %>

<!--END NAVBAR-->

    <%= yield %>

</body>
</html>
